/*
Admin css
*/

.job-bm-meta .salary_fixed, .job-bm-meta .salary_min, .job-bm-meta .salary_max{
	display:none;
	}
	
.job_type_bg_color{}
.job_type_bg_color label{}	
	
	
.job-bm-addons {
  margin: 40px 0;
}
	
.job-bm-addons .single {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  display: inline-block;
  margin: 20px 10px;
  overflow: hidden;
  padding: 0 0 15px;
  vertical-align: top;
  width: 230px;
}
	
.job-bm-addons .thumb {
  max-height: 180px;
  overflow: hidden;
}
.job-bm-addons .thumb img {
  width: 100%;
}
.job-bm-addons .title {
  font-size: 16px;
  margin: 15px 0;
  padding: 0 8px;
}
.job-bm-addons .title a{
text-decoration:none;
}


.job-bm-addons .content {
  font-size: 13px;
  margin: 8px 0;
  padding: 0 8px;
}

.job-bm-addons .meta {
  display: inline-block;
}

.job-bm-addons .meta a{
	text-decoration:none;
}

.job-bm-addons .version {
  padding: 0 10px;
}
	